#city{
    display: flex;
}

#scooter {
    display: flex;
}

#sport{
    display: flex;
}

#trail {
    display: flex;
}


.modelos{
    width: 100%;
    background-color: rgb(161, 16, 16);
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 100px;
    color: white;
}